@{
    Layout = null;
}

<!doctype html><html lang='en'><head><meta charset='UTF-8'>	<title></title>	</head><body>	<div style='padding: 10px;			border : 2px solid red;			background-color: lightpink;			font-size: 22px;'>@ViewData["greetMsg"]</div></body></html>